body { 
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    background-color: #000;
}

.boxModel { 
    padding : 16px;
    background-color : #252932;
    color : #4b4f56;
}

.body-panel-dark {
    padding : 10px;
}

.dark { 
 background-color : #252932;   
 padding : 5px;
 color : #0b809c;
}

.body-panel-white { 
 padding : 10px;
 color : #fff;
 background-color : #252932;   
}

.body-content-white { 
 padding : 0px;
 color : #fff;
}

.blue-text {
    color : #0b809c;
    font-size : 50px;
    margin : auto;
    text-align: center;
}

table>tr>td { 
  font-size: 12px;
  color : #fff;
}

.tradeText {
    margin : auto;
    text-align: center;
    padding-top : 6px;
}
.container { 
  padding-bottom: 20px;
  background-color: #000;
}

div .panel {
    border: none;
}
.boxModel:hover { 
  background-color : #183541;
}

.nv-y text{
  font-size: 9px;
  fill: #fff;
}

.tradeMarker {
    padding-top : 6px;
}

.tradeMarker:hover .tradeText {
    background-color : #00a4cb;
    color : #fff;
}

.tradeMarker:hover .blue-text {
    background-color : #00a4cb;
    color : #fff;
}
.volumeDiv {
    background-color : #252932;
    color : #888890;
    padding: 10px;
}
